# Ignore all CSV files (data, results)
*.csv

# Ignore Python cache files and folders
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore virtual environment folders
.venv/
venv/
ENV/

# Ignore system files
.DS_Store
Thumbs.db

!**/test_v1.csv
!**/train_v1.csv